*{
    margin: 0;
}
header{

    background-color: rgb(61, 58, 58);
}


nav{
    padding: 5px;
    background-color: rgb(61, 58, 58);
}

ul>li{
    color: rgb(129, 127, 127);
    transform: all 0.2s;
   margin-top: 20px;
}

ul li:hover{
    color: white;
}

.bannerprincipal{
    background: url("imagenes/ba1.jpg") #000000ba;
    height: 70vh;
    background-blend-mode: color;
    background-position-y:top;
    text-align: right;

}

.bannerprincipal div{
    width: 40%;
    padding-right: 10%;
}

.bannerprincipal button{
    margin: 1%;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.cardgroup{
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.card-body{
padding: 5%;
}

h4{
    padding-bottom: 5%;
}
.cardsteve{
    display: flex;
    flex-direction: column;
    border:solid rgb(197, 191, 191);
    border-radius: 0 0 1em 1em;
    width: 25%;
    margin-left: 5%;
}

.cardbill{
    display: flex;
    flex-direction: column;
    border:solid rgb(197, 191, 191);
    border-radius:0 0 1em 1em;
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
}

.cardada{
    display: flex;
    flex-direction: column;
    border:solid rgb(197, 191, 191);
    border-radius:0 0 1em 1em;
    width: 25%;
    margin-right: 5%;
}

aside{
    display: flex;
    margin-top: 5%;
}



.pub img{ 
    width: 100%;
    
}



.text{
    padding: 2%;
    background-color:  rgb(61, 58, 58);
    color: white;
   
}


.formulario{
    
    height: 30vh;
    width: 70%;
    margin-left: 15%;
}

footer{
    background-color: rgb(61, 58, 58);
}
